.app {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #0075FF 12.13%, #0075FF 19.21%, #22F91F 83.41%);
    padding: 50px;
    position: relative;
    overflow-x: hidden;
}

.logo-container {
    width: 50%;
    margin: 0rem auto;
}

.link-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 40px;
}

.link-container button {
    border: none;
    background: none;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: 500;
}