.community-sidebar {
    background: #efeeee;
    padding: 20px;
    height: calc(100vh - 100px);
    position: sticky;
    top: 100px;
}

.community-sidebar h1 {
    text-align: center;
}

.wider {
    width: 90%;
}