* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background: #d9d8d8;
    /* justify-content: space-between; */
    height: 100px;
    padding: 0px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Nav Left */

.nav__left {
    display: flex;
    align-items: center;
    flex: 1;
}

.nav__left img {
    height: 70px;
}

/* Nav Center */

/* Nav Right */

.nav__right {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
}

.user__info {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user__info h4 {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.dropdown-menu.dropdown-navbar {
    width: fit-content;
    transform: translateX(-70%);
}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu li {
    white-space: nowrap;
}


